<% include ./partials/header %>
<div class="ui text main container segment">
    <div class="ui huge header"><%= blog.title %></div>
    <div class="ui top attached">
        <div class="item">
            <img class="ui centered rounded image" src="<%=blog.image%>">
        
            <div class="centered content">
                <span><%= blog.created.toDateString() %></span>
            </div>
            <div class="description">
                <p> <%=blog.body%> </p>
            </div>
            <form action="/blogs/<%= blog.id %>?_method=DELETE" method="POST">
                <button class="ui red basic button">Delete</button>
                <a href="/blogs/<%=blog.id%>/edit" class="ui blue basic button">Edit</a>
            </form>
                
        </div>
    </div>
</div>

        
        
<% include ./partials/footer %>